body{
    max-width: 80%;
    margin: auto;
    background: cornsilk;
}

header{
    background: orange;
    height: 200px;

}

.top{
    padding-top: 15px;
    padding-left: 25%;
    margin: auto;
}

h1{
    font-family: 'Anton', sans-serif;
    font-size: 50px;
}

label{
    font-family: 'Anton', sans-serif;
    font-family: 'Montserrat', sans-serif;
    padding-right: 30px;
}

#songs{
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(auto, auto);
    grid-gap: 20px;
}